<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-body">
        <p>You've been logged out</p>
        <a href='/login'>login again</a>
    </div>
  </div>

</div>
